<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        <div id="full_body">
            <header>
                {{- partial "header_nav.html" . -}}
            </header>
            <main class="container-fluid">
                                {{- block "main" . }}{{- end }}
            </main>
            </div>
            <footer>
                {{- partial "body_footer.html" . -}}
            </footer>
        </div>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
        <script src="{{ .Site.BaseURL }}../js/audioPlayer.js"></script>
        <script src="{{ .Site.BaseURL }}../js/navbar-burger.js"></script>
    </body>
</html>
